p{
    margin: 6px;
    padding: 6px;
    border: 1px solid red;
    width: 100px;
    height: 100px;
    background-color: orange;
}



.my-grid{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 100px;
    color: red;
    text-align: center;
    width: 100%;

}

.has-blue-background{
    background-color: #A7DDFF;
    border: 1px solid #721EE3;
    width: 50%;
}

.has-yellow-background{
    background-color: #FAF7A7;
    border : 1px solid #E38C1E;
    width: 50%

}


.flexbox-container{
    display: flex;
    justify-content: space-evently;
    margin: 20px;
    align-items: center;
}
